// VARIABLES

$mainColor:rgb(223, 223, 223);
$secondaryColor:rgb(204, 243, 213);
$textColor: whitesmoke;
$textColor2:#BD2A2E;
$colorDark: rgba(16, 16, 16, 0.885) ;
$colorbtn:#265C4B;
$colorBtnRst:  rgb(85, 82, 82);

//TEXTO




