//IMPORT
@import "utilities/_vars";
@import "_fonts";
@import "_navBar";
@import "_links";
@import "utilities/_extend";
@import "utilities/_mixin";
@import "utilities/map";

// GENERAL

body{
  background-image: url("../img/5437842.jpg");
}

h1,
h2,
h3,
row {
  font-family:$fontPrimari;
  @extend %animation;
}

h2, h3{
  font-size: $textMx;
  @include flex-H2-H3(flex, center);
  @extend %textH2-H3;
}


.text-inicio {
  width: 80%;
  margin-left: map-get($map: $estilos, $key:margin-left );
  text-align: center;
  box-shadow: map-get($map: $estilos, $key:box-shadow );
  border-radius: map-get($map: $estilos, $key:border-radius );
}
//IMG DE OFERTAS SIN @MEDIA
.ImgOfertas {
  @include flex (flex, wrap, space-around, space-evenly);
  margin: 3%;
  box-shadow: map-get($map: $estilos, $key: box-shadow);
  border-radius: 10px;
}

// FORMULARIO CONTACTO

.imgContacto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.form-control {
  height: 30px;
}

.FormContacto {
  @include grid (grid, start, start)
}

.form-select {
  width: 20%;
}

.FormComentario{
  width: 250px;
  
}

.form-select {
  width: 250px;
}

//COLORES BOTONES

.btn-enviar {
  background-color: $colorbtn;
  color: $textColor;
}

.btn-cancelar {
  background-color: $colorBtnRst;
  color: $textColor;
}

//DIMENCIONES CAROUSEL
.carousel {
  margin-bottom: 500px;
}

.ofertas-img {
  margin-bottom: 80px;
}


//ANIMACIONES

.animate:hover {
  cursor: pointer;
  color:$textColor;
  background-color: $mainColor;
  border: solid 3px $colorDark;
}

@keyframes textAlpha {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//COLOR BKG 
.color-ligth {
  background-color: $mainColor;
  border-radius: 10px;
}

.color-background {
  background-color: $secondaryColor;
}

.color-dark {
  background-color: $colorDark;
}

.color-text {
  background-color: $colorBtnRst;
  color: $textColor;
}

//@MEDIA
@media only screen and (min-width: 756px) {
  .carousel {
    display: none !important;
  }
  
}

@media only screen and (max-width: 755px) {
  .CarouselSecon {
    display: none !important;
  }
  

  h2 h3 {
    font-size: $textXXl;
    font-family: $fontPrimari;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 25px;
    color: $textColor2;
    background-color: $colorBkgH3;
    margin-left: 1%;
    margin-right: 6%;
    border-radius: 6px;
    margin: 15px auto 30px auto;
  }

  p {
    width: 70%;
    margin-left: 10%;
    text-align: center;
    font-size: $textSm;
    line-height: $textLg;
  }

  #pie {
    font-size: $textSs;
    line-height: $textMd;
  }
}

@media only screen and (max-width: 500px) {
  .CarrouselSecon {
    display: none !important;
  }

  h2 {
    margin: auto;
    width: 200px;
    margin-bottom: 30px;
  }

  #TitleNav {
    display: none !important;
  }

  h3 {
    font-size:$textSm;
    font-family: $fontPrimari;
    display: flex;
    justify-content: center;
    color: $textColor2;
    background-color: $colorBkgH3;
    margin-left: 1%;
    margin-right: 6%;
    border-radius: 6px;
    margin: 15px auto 30px auto;
  }
  .ImgNosotros{
    width: 100% !important; 
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 0 !important;

  }
}
@media only screen and (max-width: 800px){
  .imgMedia {
    display: none !important;
  }
}