@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

/*medida HTML*/
html{
    font size: 62.5%;
    
}
/*FONDO DE LA PAG*/
body{
    background-image: url("../img/5437842.jpg");
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh ;
    grid-template-areas: 
    "nav"
    "main"
    "pie";*/
}


/*letter tipe*/
h1
h2
h3{
    font-family: 'Roboto', sans-serif;
}

/*size*/
h1{
    font-family: 'Tiro Devanagari Marathi', serif;
    color: rgb(26, 26, 26);
    font-size: 3.2rem; 
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 50px;
    color: #BD2A2E;
    background-color: rgba(39, 35, 35, 80%);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    animation-name: textAlpha;
    animation-duration: 2.5s;
}

h3{font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 5%;
    animation-name: textAlpha;
    animation-duration: 2.5s;
}


/*-- rem vale 16px font size 62.5% rem vale 10px--*/

/*STILOS DE LA NAV */
nav div{
    display: flex;
    padding-left: 3%;
    }
        nav{
            background-color: #f0f3f3;
            display: flex;
            justify-content: space-between;
            align-items: center;
           }
            nav ul{
                list-style: none;
                color: rgb(0, 0, 0);
                text-decoration: none;  
                font-family: 'Roboto', sans-serif;
                display: flex;
                justify-content: space-between;
               }
                    nav ul li{
                        list-style: none;
                        margin-right: 30px;
                        }
                            nav a{
                                color: rgb(0, 0, 0);
                                text-decoration: none;  
                                font-family: 'Roboto', sans-serif;
                                }
/*table index*/
main{
    font-family: 'roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
     line-height: 1.5rem;
     padding: 3%;
     margin-bottom: 7%;
    }

footer{
    padding: 1%;
    margin: 0 10%;
    background-color: #3B3936 ;
    color: #B2BEBF;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.contenedor-contacto{
    background-color: rgba(236, 236, 236, 0.8);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;

}
.fieldset-zona{
    grid-area: grid;
    justify-content: space-between;
    justify-items: flex-start;
    margin: 15px;
    padding: 10px;
    
}

.fieldset-mensaje{
    display: grid;
}

.form{
    display: grid;
    padding: 10px;
    margin: 25px;
}

/*ID*/

#nav{
    grid-area: nav;
}
#main{
    display: grid;
    justify-items: flex-start;
    grid-area: main;
}
#pie{
    grid-area: pie;
}

/*clases*/

.lista-stilo{
    display: grid;
    background-color: #f0f3f3;
    width: 80%;
    height: 90%;
    font-size: 1rem;
    line-height: 2rem; 
    border-style: groove; 
    border-radius: 25px;
}

.img-contenedor{
    display: flex;
    height: 90%;
    width: 90%;
    margin-left: 15%;
    flex-wrap: wrap;
    

}

.ofertas-img{
    display: grid;  
    flex-direction: column;
    flex-direction: row;
    width: 40%; 
    margin: 2%;
    animation-name: textAlpha;
    animation-duration: 2s;
}

.ofertas-semana{
    position:absolute
}

.img-nosotros{
    display: flex;
    justify-content: center;
}

.text-suc-title{
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    justify-content: center;
    margin-left: 150px;
    margin-top: 50px;
    color: #BD2A2E;
    background-color: rgba(39, 35, 35, 80%);
    height: 50px;
    margin-left: 5%;
    margin-right: 45%;
    border-radius: 10px;
}

.img-sucursales{
    display: flex;
    display: inline-block;
    justify-content: space-between;
    margin-left: 60px;
    padding-bottom: 50px;
}

/*CLASES PARA LOS TEXTOS */
.text-inicio{
    width: 70%;
    margin-left: 13%;
    text-align: center;
}
.text-bold{
    font-weight: 500;
}
.text-regular{
    font-weight: 400;
}
.text-ligth{
    font-weight: 300;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-rigth{
    text-align: right;
}

/*BACKGROUND DE COLORES */
.color-ligth{
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}
.color-background{
    background-color:rgb(204, 243, 213)
}
.color-dark{
    background-color: rgb(rgb(218, 116, 116), rgb(108, 192, 108), rgb(102, 102, 199));
}
.color-text{
    background-color: rgb(129, 127, 127);
}

/* ID */
#nav{
    grid-area: nav;
}
#main{
    grid-area: main;
}
#pie{
    grid-area: pie;
}


/* ANIMACIONES */

.animate:hover{
    cursor: pointer;
    color: white;
    background-color: #4f4d4d;
    border: solid 3px rgb(248, 5, 5);
    border-radius: 25%;
}

@keyframes textAlpha{
    from{ opacity: 0;}
    to{ opacity: 1;}
}
